<head>
    <link rel="stylesheet" href="/assets/css/about.css">

</head>

<div class="container">
    <div class="row justify-content-center">
        <!-- Card Jeffrey -->
        <div class="card card-cascade blue darken-4">

            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h4 class="card-title">
                    <strong>Jeffrey</strong>
                </h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold py-2">Web developer</h6>
                <!-- Facebook -->
                <a id="social-button" href="https://www.facebook.com/jeffrey.vanhorn.54?ref=bookmarks" class="btn-floating btn-sm white">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                {{!-- github link --}}
                <a id="social-button" href="https://github.com/Jmichael96" class="btn-floating btn-sm white">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                {{!-- linkedin link --}}
                <a id="social-button" href="https://www.linkedin.com/in/jeffrey-vh-jackattack-michael/" class="btn-floating btn-sm white">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>

            </div>

        </div>
        <!-- Card Regular -->

        <!-- Card Akanksha -->
        <div class="card card-cascade blue darken-4">

            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h4 class="card-title">
                    <strong>Akanksha</strong>
                </h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold py-2">Web developer</h6>
                <!-- Facebook -->
                <a id="social-button" href="https://www.facebook.com/jeffrey.vanhorn.54?ref=bookmarks" class="btn-floating btn-sm white">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                {{!-- github link --}}
                <a id="social-button" href="https://github.com/Jmichael96" class="btn-floating btn-sm white">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                {{!-- linkedin link --}}
                <a id="social-button" href="https://www.linkedin.com/in/jeffrey-vh-jackattack-michael/" class="btn-floating btn-sm white">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>

            </div>

        </div>
        <!-- Card Regular -->

        <!-- Card Thanh -->
        <div class="card card-cascade blue darken-4">

            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h4 class="card-title">
                    <strong>Thanh</strong>
                </h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold py-2">Web developer</h6>
                <!-- Facebook -->
                <a id="social-button" href="https://www.facebook.com/jeffrey.vanhorn.54?ref=bookmarks" class="btn-floating btn-sm white">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                {{!-- github link --}}
                <a id="social-button" href="https://github.com/Jmichael96" class="btn-floating btn-sm white">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                {{!-- linkedin link --}}
                <a id="social-button" href="https://www.linkedin.com/in/jeffrey-vh-jackattack-michael/" class="btn-floating btn-sm white">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>

            </div>

        </div>
        <!-- Card Regular -->

        <!-- Card Roger -->
        <div class="card card-cascade blue darken-4">

            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h4 class="card-title">
                    <strong>Roger</strong>
                </h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold py-2">Web developer</h6>
                <!-- Facebook -->
                <a id="social-button" href="https://www.facebook.com/jeffrey.vanhorn.54?ref=bookmarks" class="btn-floating btn-sm white">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                {{!-- github link --}}
                <a id="social-button" href="https://github.com/Jmichael96" class="btn-floating btn-sm white">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                {{!-- linkedin link --}}
                <a id="social-button" href="https://www.linkedin.com/in/jeffrey-vh-jackattack-michael/" class="btn-floating btn-sm white">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>

            </div>

        </div>
        <!-- Card Regular -->

    </div>
</div>