<div id="body-container" class="container">
    <div class="row justify-content-center">
        <!-- Card Jeffrey -->
        <div class="card card-cascade animated fadeInLeft delay-1s">

            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
                <!-- Title -->
                <h4 class="card-title">
                    <strong>Jeffrey</strong>
                </h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold py-2">Front-End Design</h6>
                <!-- Facebook -->
                <a id="social-button" href="https://www.facebook.com/jeffrey.vanhorn.54?ref=bookmarks" class="btn-floating btn-sm white">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                {{!-- github link --}}
                <a id="social-button" href="https://github.com/Jmichael96" class="btn-floating btn-sm white">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                {{!-- linkedin link --}}
                <a id="social-button" href="https://www.linkedin.com/in/jeffrey-vh-jackattack-michael/" class="btn-floating btn-sm white">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
            {{!-- end card content --}}
        </div>
        <!-- Card Regular -->

        <!-- Card Thanh -->
        <div class="card card-cascade animated fadeInLeft delay-1s">

            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
                <!-- Title -->
                <h4 class="card-title">
                    <strong>Thanh</strong>
                </h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold py-2">Front-End Design</h6>
                <!-- Facebook -->
                <a id="social-button" href="https://www.facebook.com/jeffrey.vanhorn.54?ref=bookmarks" class="btn-floating btn-sm white">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                {{!-- github link --}}
                <a id="social-button" href="https://github.com/Jmichael96" class="btn-floating btn-sm white">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                {{!-- linkedin link --}}
                <a id="social-button" href="https://www.linkedin.com/in/jeffrey-vh-jackattack-michael/" class="btn-floating btn-sm white">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
            {{!-- end card content --}}
        </div>
        <!-- Card Regular -->

        <!-- Card Akanksha -->
        <div class="card card-cascade animated fadeInRight delay-1s">

            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
                <!-- Title -->
                <h4 class="card-title">
                    <strong>Akanksha</strong>
                </h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold py-2">Back-End Development</h6>
                <!-- Facebook -->
                <a id="social-button" href="https://www.facebook.com/jeffrey.vanhorn.54?ref=bookmarks" class="btn-floating btn-sm white">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                {{!-- github link --}}
                <a id="social-button" href="https://github.com/Jmichael96" class="btn-floating btn-sm white">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                {{!-- linkedin link --}}
                <a id="social-button" href="https://www.linkedin.com/in/jeffrey-vh-jackattack-michael/" class="btn-floating btn-sm white">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
            {{!-- end card content --}}
        </div>
        <!-- Card Regular -->

        <!-- Card Roger -->
        <div class="card card-cascade animated fadeInRight delay-1s">

            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">
                <!-- Title -->
                <h4 class="card-title">
                    <strong>Roger</strong>
                </h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold py-2">Back-End Development</h6>
                <!-- Facebook -->
                <a id="social-button" href="https://www.facebook.com/jeffrey.vanhorn.54?ref=bookmarks" class="btn-floating btn-sm white">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                {{!-- github link --}}
                <a id="social-button" href="https://github.com/Jmichael96" class="btn-floating btn-sm white">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                {{!-- linkedin link --}}
                <a id="social-button" href="https://www.linkedin.com/in/jeffrey-vh-jackattack-michael/" class="btn-floating btn-sm white">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>

            </div>
            {{!-- end card content --}}
        </div>
        <!-- Card Regular -->
    </div>

    {{!-- card with applications info --}}
    <!-- Grid row -->
    <div class="row justify-content-center">

        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 mb-5">
            <!--Image-->
            <img src="/assets/images/about-card.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">

            <!-- Grid row -->
            <div class="row mb-3 animated fadeInUp delay-1s">
                <div class="col-md-1 col-2">
                    <i class="fa fa-code fa-2x red-text"></i>
                </div>
                <div class="col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Technology</h5>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li>HTML5</li>
                                    <li>CSS</li>
                                    <li>Bootstrap</li>
                                    <li>JavaScript</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li>Node.Js</li>
                                    <li>Express.Js</li>
                                    <li>Express-Handlebars</li>
                                    <li>Passport.Js</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li>MySQL</li>
                                    <li>Sequelize</li>
                                    <li>Chai</li>
                                    <li>Mocha</li>
                                    <li>Prettier</li>
                                </ul>
                            </div>
                        </div>
                        {{!-- end row of lists --}}
                    </div>
                    {{!-- end technology list container --}}
                </div>
            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row animated fadeInUp delay-2s">
                <div class="col-md-1 col-2">
                    <i class="fa fa-group fa-2x blue-text"></i>
                </div>
                <div class="col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Our Group</h5>
                    <p class="mb-0">
                        A group of four put together by University of Texas Coding Bootcamp to build an application for Project 2 of the course.
                        The app was designed for people to share their experience of traveling from city to city by writing
                        about their journey. Users can use this website to find new exciting adventures and get the most
                        recent reviews of every location they are interested in. If you love writing about your enchanting
                        experiences then this is the place for you. Go and sign up! Its Free!
                    </p>
                </div>
            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row mt-3 animated fadeInUp delay-3s">
                <div class="col-md-1 col-2">
                    <i class="fa fa-2x fa-location-arrow" aria-hidden="true"></i>
                </div>
                <div class="col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Location</h5>
                    <p class="mb-3">
                        Houston Tx, Developed and Deployed by the students of University of Texas at Houston Coding Bootcamp.
                    </p>
                </div>
            </div>
            <!-- Grid row -->

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
</div>
{{!-- end container --}}