<div class="container">
    <h1 class="h1-responsive font-weight-bold text-white text-center mb-5 pt-2">Dashboard</h1>
    <!--Grid row-->
    <div class="row">
        <!--Card-->
        <div class="card expand mb-2 wow fadeIn">
            <div class="card-header font-weight-bold">
                <span>About author</span>
                <span class="pull-right">
                    Location:
                </span>
            </div>
            <!--Card content-->
            <div class="card-body blog">
                <div class="media d-block d-md-flex mt-3">
                    <img class="d-flex mb-3 mx-auto z-depth-1" src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg"
                        alt="Generic placeholder image" width="100px">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <h5 class="mt-0 font-weight-bold">Caroline Horwitz
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--/.Card-->
    <!--Grid column-->

    <div class="row">
        <!--Card-->
        <div class="card expand mb-2 wow fadeIn">
            <div class="card-header font-weight-bold">Most recent post</div>
            <!--Card content-->
            <div class="card-body blog">

                <p class="h5 my-4">That's a very long heading </p>


                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                        posuere erat a ante.</p>
                    <footer class="blockquote-footer">Someone famous in
                        <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>

                <p class="h5 my-4">That's a very long heading </p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, ut rerum deserunt
                    corporis
                    ducimus at, deleniti ea alias dolor reprehenderit sit vel. Incidunt id illum
                    doloribus,
                    consequuntur maiores sed eligendi.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, ut rerum deserunt
                    corporis
                    ducimus at, deleniti ea alias dolor reprehenderit sit vel. Incidunt id illum
                    doloribus,
                    consequuntur maiores sed eligendi.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, ut rerum deserunt
                    corporis
                    ducimus at, deleniti ea alias dolor reprehenderit sit vel. Incidunt id illum
                    doloribus,
                    consequuntur maiores sed eligendi.</p>

            </div>

        </div>
        <!--/.Card-->


    </div>
    <!--Grid row-->

    <div class="row ">
        <!--Card-->
        <div class="card expand mb-2 wow fadeIn">
                <div class="card-header font-weight-bold">
                    <div class="row">

                        <div class="col-md-6">
                            <span>Posts made by author</span>
                        </div>
                        <div class="col-md-6">
                            <form class="form-inline justify-content-end">
                                <input class="form-control form-control-sm mr-3 w-50" type="text" placeholder="Search posts made by author"
                                    aria-label="Search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </form>
                        </div>
                    </div>
                </div>
            <!--Card content-->
            <div class="card-body blog">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li class="media">
                                <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg"
                                    alt="Generic placeholder image" width="100px">
                                <div class="media-body">
                                    <a href="">
                                        <h5 class="mt-0 mb-1 font-weight-bold">Title of post</h5>
                                    </a>
                                    Cras sit amet nibh libero, in gravida nulla (...)
                                </div>
                            </li>
                            <li class="media my-4">
                                <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder6.jpg"
                                    alt="An image" width="100px">
                                <div class="media-body">
                                    <a href="">
                                        <h5 class="mt-0 mb-1 font-weight-bold">Title of post</h5>
                                    </a>
                                    Cras sit amet nibh libero, in gravida nulla (...)
                                </div>
                            </li>
                            <li class="media">
                                <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder5.jpg"
                                    alt="Generic placeholder image" width="100px">
                                <div class="media-body">
                                    <a href="">
                                        <h5 class="mt-0 mb-1 font-weight-bold">Title of post</h5>
                                    </a>
                                    Cras sit amet nibh libero, in gravida nulla (...)
                                </div>
                            </li>
                            <li class="media my-4">
                                <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder6.jpg"
                                    alt="An image" width="100px">
                                <div class="media-body">
                                    <a href="">
                                        <h5 class="mt-0 mb-1 font-weight-bold">Title of post</h5>
                                    </a>
                                    Cras sit amet nibh libero, in gravida nulla (...)
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li class="media">
                                <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder7.jpg"
                                    alt="Generic placeholder image" width="100px">
                                <div class="media-body">
                                    <a href="">
                                        <h5 class="mt-0 mb-1 font-weight-bold">Title of post</h5>
                                    </a>
                                    Cras sit amet nibh libero, in gravida nulla (...)
                                </div>
                            </li>
                            <li class="media my-4">
                                <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder6.jpg"
                                    alt="An image" width="100px">
                                <div class="media-body">
                                    <a href="">
                                        <h5 class="mt-0 mb-1 font-weight-bold">Title of post</h5>
                                    </a>
                                    Cras sit amet nibh libero, in gravida nulla (...)
                                </div>
                            </li>
                            <li class="media">
                                <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder5.jpg"
                                    alt="Generic placeholder image" width="100px">
                                <div class="media-body">
                                    <a href="">
                                        <h5 class="mt-0 mb-1 font-weight-bold">Title of post</h5>
                                    </a>
                                    Cras sit amet nibh libero, in gravida nulla (...)
                                </div>
                            </li>
                            <li class="media my-4">
                                <img class="d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Others/placeholder6.jpg"
                                    alt="An image" width="100px">
                                <div class="media-body">
                                    <a href="">
                                        <h5 class="mt-0 mb-1 font-weight-bold">Title of post</h5>
                                    </a>
                                    Cras sit amet nibh libero, in gravida nulla (...)
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
                <div class="card-header">
                    <nav>
                        <ul class="pagination pagination-lgpg-darkgrey justify-content-center">
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link">1</a></li>
                            <li class="page-item"><a class="page-link">2</a></li>
                            <li class="page-item"><a class="page-link">3</a></li>
                            <li class="page-item"><a class="page-link">4</a></li>
                            <li class="page-item"><a class="page-link">5</a></li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
        </div>
        <!--/.Card-->


    </div>
    <!--Grid row-->


</div>
<!--Grid row-->