
<head>
        <link href="/assets/css/style.css" rel="stylesheet">
    	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="/assets/js/script.js"></script>
</headd>

{{!-- compass image data --}}
<div class="row justify-content-center">
    <section id="img-bg">
        <section id="intro-bg" class="mt-3">
        </section>
    </section>
</div>
{{!-- end image data --}} {{!-- navbar section --}}
<hr>
<section id="navbar" class="container">
    <!--Navbar-->
    <nav class=" navbar-expand-lg ">
        <!-- Collapsible content -->
        <div class="row justify-content-center" id="basicExampleNav">

            <!-- Links -->
            <a class="nav-item">
                
                <a type="button" class="btn black-text">HOME</a>
                <a type="button" class="btn black-text">ABOUT US</a>
                <a type="button" class="btn black-text">RESOURCES</a>
                <a type="button" class="btn black-text">CONTACT US</a>
                <a type="button" class="btn black-text">WHERE TO GO</a>
                    <!-- SideNav slide-out button -->
                <a href="#" data-activates="slide-out" class="btn btn-primary p-3 button-collapse"><i class="fa fa-bars"></i></a>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <a type="button" href="/login" class="btn btn-sm ml-0 black-text">LOGIN</a>
                    <a type="button" class="btn btn-sm black-text">SIGN UP</a>
                </div>
            </a>

        </div>
    </nav>
    <!--/.Navbar-->


</section>
<hr> {{!-- START OF PAGE CONTENT --}}
<main id="main-body">

    <div class="">
        <!-- Section heading -->
        <h2 class="h1-responsive white-text font-weight-bold text-center">Recent posts</h2>
        <hr class="">
    </div>
    <div class="row">
        {{!-- left side section of material beside blog --}}
        <div class="col-3">

        </div>

        <!-- Section: Blog v.3 -->
        <section id="blog-body" class="col-6">

            <!-- Grid row -->
            <div id="blog" class="row justify-content-center mt-2">

                <!-- Grid column -->
                <div class=" ">

                    <!-- Featured avatar -->
                    <div class="avatar mx-auto ">
                        <img id="avatar" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid">
                    </div>
                </div>
                <!-- /Grid column -->

                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">

                    <!-- Post title -->
                    <h3 class="font-weight-bold mb-3">
                        <strong>Title of the news</strong>
                    </h3>
                    <!-- Excerpt -->
                    <p class="">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                        dolor sit amet, psam voluptatem quia consectetur.</p>
                    <!-- Post data -->
                    <p>by
                        <a class="font-weight-bold">Jessica Clark</a>, 12/04/2018</p>
                    <!-- Read more button -->
                    <a class="btn btn-primary btn-md">Read more</a>

                </div>
                <!-- /Grid column -->

            </div>
            <!-- /Grid row -->
        
            {{!-- spacing between each blog --}}
            <hr class="my-2">

            <!-- Grid row -->
            <div id="blog" class="row justify-content-center">

                <!-- Grid column -->
                <div class=" ">

                    <!-- Featured avatar -->
                    <div class="avatar mx-auto ">
                        <img id="avatar" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid">
                    </div>
                </div>
                <!-- /Grid column -->

                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">

                    <!-- Post title -->
                    <h3 class="font-weight-bold mb-3">
                        <strong>Title of the news</strong>
                    </h3>
                    <!-- Excerpt -->
                    <p class="">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                        dolor sit amet, psam voluptatem quia consectetur.</p>
                    <!-- Post data -->
                    <p>by
                        <a class="font-weight-bold">Jessica Clark</a>, 12/04/2018</p>
                    <!-- Read more button -->
                    <a class="btn btn-primary btn-md">Read more</a>

                </div>
                <!-- /Grid column -->

            </div>
            <!-- /Grid row -->
            {{!-- spacing between each blog --}}
            <hr class="my-2">

            <!-- Grid row -->
            <div id="blog" class="row justify-content-center">

                <!-- Grid column -->
                <div class=" ">

                    <!-- Featured avatar -->
                    <div class="avatar mx-auto ">
                        <img id="avatar" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid">
                    </div>
                </div>
                <!-- /Grid column -->

                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">

                    <!-- Post title -->
                    <h3 class="font-weight-bold mb-3">
                        <strong>Title of the news</strong>
                    </h3>
                    <!-- Excerpt -->
                    <p class="">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                        dolor sit amet, psam voluptatem quia consectetur.</p>
                    <!-- Post data -->
                    <p>by
                        <a class="font-weight-bold">Jessica Clark</a>, 12/04/2018</p>
                    <!-- Read more button -->
                    <a class="btn btn-primary btn-md">Read more</a>

                </div>
                <!-- /Grid column -->

            </div>
            <!-- /Grid row -->
        </section>
        <!-- /Section: Blog v.3 -->

        {{!-- right section of material beside blog --}}
        <div class="col-3">

        </div>
{{!-- modal for contact --}}
    </div>
    {{!-- end of row --}}
</main>
{{!-- end main body --}}