{{!-- compass image data --}}
<div class="row justify-content-center">
    <section id="img-bg">
        <section id="intro-bg" class="mt-3">
        </section>
    </section>
</div>
{{!-- end image data --}} {{!-- navbar section --}}
<hr>
<section id="navbar" class="container">
    <!--Navbar-->
    <nav class=" navbar-expand-lg ">
        <!-- Collapsible content -->
        <div class="row justify-content-center" id="basicExampleNav">

            <!-- Links -->
            <a class="nav-item">
                <button type="button" class="btn black-text">HOME</button>
                <button type="button" class="btn black-text">ABOUT US</button>
                <button type="button" class="btn black-text">RESOURCES</button>
                <button type="button" class="btn black-text">CONTACT US</button>
                <button type="button" class="btn black-text">WHERE TO GO</button>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button type="button" class="btn btn-sm ml-0 black-text">LOGIN</button>
                    <button type="button" class="btn btn-sm black-text">SIGN UP</button>
                </div>
            </a>

        </div>
    </nav>
    <!--/.Navbar-->
</section>
<hr> {{!-- START OF PAGE CONTENT --}}
<main id="main-body">
    <div class="row">
        {{!-- left side section of material beside blog --}}
        <div class="col-3">

        </div>
        <!-- Section: Blog v.3 -->
        <section id="blog-body" class="col-6">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center my-5">Recent posts</h2>


            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-lg-3 col-xl-4">

                    <!-- AVATAR-->
                    <div class="avatar mx-auto white">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid">
                    </div>
                </div>
                <!-- /Grid column -->

                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">

                    <!-- Post title -->
                    <h3 class="font-weight-bold mb-3">
                        <strong>Title of the news</strong>
                    </h3>
                    <!-- Excerpt -->
                    <p class="">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                        placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis
                        cum soluta nobis est eligendi placeat facere aut rerum.</p>
                    <!-- Post data -->
                    <p>by
                        <a class="font-weight-bold">Jessica Clark</a>, 19/04/2018</p>
                    <!-- Read more button -->
                    <a class="btn btn-primary btn-md">Read more</a>

                </div>
                <!-- /Grid column -->

            </div>
            <!-- /Grid row -->
            {{!-- spacing in between each blog --}}
            <hr class="my-4">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-5 col-xl-4">

                    <!-- Featured avatar -->
                    <div class="avatar mx-auto white">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid">
                    </div>
                </div>
                <!-- /Grid column -->

                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">

                    <!-- Post title -->
                    <h3 class="font-weight-bold mb-3">
                        <strong>Title of the news</strong>
                    </h3>
                    <!-- Excerpt -->
                    <p class="">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident et
                        accusamus iusto odio dignissimos et dolorum fuga.</p>
                    <!-- Post data -->
                    <p>by
                        <a class="font-weight-bold">Jessica Clark</a>, 16/04/2018</p>
                    <!-- Read more button -->
                    <a class="btn btn-primary btn-md">Read more</a>

                </div>
                <!-- /Grid column -->
            </div>
            <!-- /Grid row -->
            {{!-- spacing between each blog --}}
            <hr class="my-4">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-5 col-xl-4">

                    <!-- Featured avatar -->
                    <div class="avatar mx-auto white">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid">
                    </div>
                </div>
                <!-- /Grid column -->

                <!-- Grid column -->
                <div class="col-lg-7 col-xl-8">

                    <!-- Post title -->
                    <h3 class="font-weight-bold mb-3">
                        <strong>Title of the news</strong>
                    </h3>
                    <!-- Excerpt -->
                    <p class="">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                        dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                        dolor sit amet, psam voluptatem quia consectetur.</p>
                    <!-- Post data -->
                    <p>by
                        <a class="font-weight-bold">Jessica Clark</a>, 12/04/2018</p>
                    <!-- Read more button -->
                    <a class="btn btn-primary btn-md">Read more</a>

                </div>
                <!-- /Grid column -->

            </div>
            <!-- /Grid row -->
        </section>
        <!-- /Section: Blog v.3 -->

        {{!-- right section of material beside blog --}}
        <div class="col-3">

        </div>

    </div>
    {{!-- end of row --}}
</main>
{{!-- end main body --}}