<head>
    <link rel="stylesheet" href="/assets/css/login.css">
    <script src="/assets/js/login.js"></script>
</head>


<div class="container">
    <div class="row justify-content-center">
<!-- Default form login -->
<form id="login-form" class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn white black-text btn-block my-4" type="submit">SIGN IN</button>

    <!-- Register -->
    <p>Not a member?
        <a href="">Register</a>
    </p>

    <!-- Social login -->
    <p>or sign in with:</p>
<!--Twitter-->
<a class="tw-ic mr-3 blue-text" role="button"><i class="fa fa-lg fa-twitter"></i></a>
<!--Google +-->
<a class="gplus-ic mr-3 red-text" role="button"><i class="fa fa-lg fa-google-plus"></i></a>
    <!--Facebook-->
    <a class="fb-ic mr-3 blue-text" role="button"><i class="fa fa-lg fa-facebook"></i></a>

</form>
<!-- Default form login -->
</div>
</div>