<div class="container">
    <div class="row justify-content-center">
        <!-- Default form login -->
        <form id="login-form" class="text-center blog ">

            <p class="h4 mb-4" id="loginHeading">Let's Blog!</p>
            <!-- Email -->
            <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
            <!-- Password -->
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
            <!-- Sign in button -->
            <button class="btn btn-light black-text my-4" type="submit">LogIn</button>
            
            <div class="d-flex justify-content-around">
                <div>
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                </div>
            </div>
            <!-- Register -->
            <p class="white-text">Not a member?
                <a href="/register" id="here">Register</a>
            </p>
            
        </form>
        <!-- Default form login -->
    </div>
</div>