
<div class="container">
    <div class="row justify-content-center">
<head>
    <link rel="stylesheet" href="/assets/css/login.css">
    <script src="/assets/js/login.js"></script>
</head>
<!-- Default form login -->

<form id="login-form" class="text-center border border-light p-5">

    <p class="h4 mb-4" id="loginHeading">Let's Blog!</p>

    <!-- Email -->
    <input type="email" id="email" class="form-control mb-4" placeholder="E-mail" required>

    <!-- Password -->
    <input type="password" id="password" class="form-control mb-4" placeholder="Password" required>


    <!-- Sign in button -->
    <button class="btn btn-light black-text my-4" type="submit">LogIn</button>
    {{!-- forgot password to be done later --}}
    {{!-- <div class="d-flex justify-content-around">
        <div>
            <!-- Forgot password -->
            <a href="">Forgot password?</a>
        </div>
    </div> --}}
    <!-- Register -->
    <p class="white-text">Not a member?
        <a href="/register" id="here">Register</a>
    </p>
    
</form>
<!-- Default form login -->
</div>
</div>