<div class="container" id="registerBody container">
    <div id="registerPage"></div>

    <!--Card-->
    <div class="card mb-2 wow fadeIn">
      <div class="card-header font-weight-bold">
        <div class="row">
          <div class="col-md-12">
            <h1 class="h1-responsive font-weight-bold text-white text-center pt-2">Register</h1>
          </div>
        </div>
      </div>

 <!-- Default form register -->
    <form id="newUser" class="blog text-center border border-light p-5" action="/register" method="POST">
        <div class="form-row mt-3 mb-4">
            <div class="col">
                <!-- First name -->
                <input type="text" name="firstName" id="firstName" value="" class="form-control" placeholder="First name"
                    required>
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last name" required>
            </div>
        </div>
        {{!-- Username --}}
        <input type="text" name="username" id="username" class="form-control mb-4" placeholder="Username" required>
        <!-- E-mail -->
        <input type="email" name="email" id="email" class="form-control mb-4" placeholder="E-mail" required>
        <!-- Password -->
        <input type="password" name="password" id="password" class="form-control" placeholder="Password"
            aria-describedby="defaultRegisterFormPasswordHelpBlock" required>
        <br>
        <select class="browser-default custom-select" id="securityQuestion" name="securityQuestion" required>
            <option name="My favorite sport" value="My favorite sport" selected>My Favorite sport</option>
            <option name="My favorite dish" value="My favorite dish">My favorite dish</option>
            <option name="My first Pet" value="My first Pet">My first Pet</option>
            <option name="Maiden Name" value="Maiden Name">Maiden Name</option>
        </select>
        <br><br>
        {{!-- Security ques answer --}}
        <input type="text" name="answer" id="answer" class="form-control mb-4" placeholder="Answer" required>
        <!-- Newsletter -->
        {{!-- <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="acceptTerm" id="acceptTerm" required>
            <label class="custom-control-label" for="acceptTerm">I agree to terms of service</label>
        </div> --}}
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <!-- Sign up button -->
        <button id="signUpButton" class="btn btn-info my-4 btn-block" type="submit">Sign up</button>
        <a href="/views/login.handlebars">Have an account? Log in.</a>
        <hr>
        <!-- Terms of service -->
        <p>By clicking
            <em>Sign up</em> you agree to our
            <a id="terms" href="" target="_blank">terms of service</a>

    </form>
    <!-- Default form register -->

  </div>

</div>bbbbbbbbbbbbbbbbbbbbbbbbb