<div class="container">
<form class="border border-light p-5 blog">
<h1 class="h1-responsive font-weight-bold text-white text-center mb-5 pt-2">Settings</h1>
    <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text">Update profile picture</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="profilePic" aria-describedby="profilePic">
            <label class="text-white custom-file-label" for="profilePic">Choose a profile picture</label>
        </div>
    </div>

    <label class="text-white" for="location">Location</label>
    <input type="text" id="location" class="form-control mb-4" placeholder="City, State or Country">

    <label class="text-white" for="website">Personal website</label>
    <input type="text" id="website" class="form-control mb-4" placeholder="Add your website here">

    <label class="text-white" for="aboutMe">About Me</label>
    <textarea id="aboutMe" class="form-control mb-4" placeholder="Write something about yourself..."></textarea>

    <button class="btn btn-info btn-block my-4" type="submit">Save settings</button>
</form>
</div>