/* entire body layout style */
#body-container{

}
/* card style */
.card{
    width: 12rem;
    height: 20rem;
    margin: 10px;
    color: white;
}
#social-button{
    border-radius: 40px;
}
/* FOOTER STYLE */
.page-footer{
    width: 100%;
    background-color: rgba(59, 59, 59, 0.918);
}